table.table.table-bordered
  tr
    th(
      ng-repeat="(j, member) in members"
    )
      trello-avatar(
        member-id="{{ member }}"
      )
  tr(
    ng-repeat="(i, day) in days"
  ) {{ day.label }}
    td(
      ng-click="resourceClick(i,j)"
      ng-repeat="(j, member) in members"
    ) {{ matrix[i][j] }}
