.resources-by-day(
  layout="row"
)
  .column(
    flex="30"
    layout="column"
    layout-align="center center"
  )
    .row-avatar &nbsp;
    .row(
      layout
      layout-align="center center"
      ng-repeat="(i, day) in days"
    ) {{ day.label }}
  .column(
    flex
    layout="column"
    layout-align="center center"
    ng-repeat="(j, member) in members"
  )
    .row-avatar
      trello-avatar(
        member="member"
      )
    md-button.md-primary.row(
      ng-click="resourceClick(i,j)"
      ng-repeat="(i, day) in days"
    ) {{ matrix[i][j] }}
