div.trello-avatar
  img.md-avatar.member-avatar(
    ng-if="hash"
    alt="{{ member.username }}"
    ng-src="https://trello-avatars.s3.amazonaws.com/{{hash}}/{{size}}.png"
  )
  .member-avatar.initials(
    ng-style="{'background-color': color}"
    ng-if="!hash"
  ) {{ member.initials }}
  md-tooltip {{ member.fullName }}
