md-content
  h4.md-title The team
    md-button.md-warn(ng-click="clearTeam()") Clear
  md-list
    trello-avatar(
      ng-repeat="id in team.dev"
      member-id="{{id}}"
    )
    trello-avatar(
      ng-repeat="id in team.rest"
      member-id="{{id}}"
    )
hr
.select-teams
  .select-dev-team
    div Select the dev team
    select-people(
      members="boardMembers"
      selected-members="team.dev"
    )
  .select-rest-team
    div Select the rest of the team
    select-people(
      members="boardMembers"
      selected-members="team.rest"
    )
h4 Choose your sprint's start and end dates
md-content
  label
    span Start day
    md-datepicker(ng-model='dates.start', md-placeholder='Enter date')
  label
    span End day
    md-datepicker(ng-model='dates.end', md-placeholder='Enter date')
  .man-days(
    ng-if="dates.days"
  ) 
h4 Setup your sprint resources
p TOTAL MAN-DAYS: {{ resources.totalManDays }}
resources-by-day(
  days="dates.days"
  matrix="resources.matrix"
  members="team.dev"
)
p Sprint points and speed:
md-input-container
  label Total sprint points
  input(
    type="number"
    min="1"
    step="1"
    ng-model="resources.totalPoints"
  )
md-input-container
  label Sprint speed
  input(
    type="number"
    min="0"
    step="0.1"
    ng-model="resources.speed"
  )
