md-content
  h4.md-title The team
    md-button.md-warn(ng-click="clearTeam()") Clear
  md-list
    trello-avatar(
      ng-repeat="dev in team.dev"
      member="dev"
    )
    trello-avatar(
      ng-repeat="rest in team.rest"
      member="rest"
    )
hr
.select-teams
  .select-dev-team
    div Select the dev team
    select-people(
      members="boardMembers"
      selected-members="team.dev"
    )
  .select-rest-team
    div Select the rest of the team
    select-people(
      members="boardMembers"
      selected-members="team.rest"
    )
