.trello-avatar(
  style="width: {{size}}px; height: {{size}}px; line-height: {{size}}px;"
)
  img.img-thumbnail(
    ng-if="member.hash"
    alt="{{ member.username }}"
    ng-src="https://trello-avatars.s3.amazonaws.com/{{member.hash}}/{{size}}.png"
  )
  .member-avatar.initials(
    ng-if="!member.hash"
  ) {{ member.initials }}
