h2.md-title(layout-align="center end") CHOOSE YOUR PROJECT
md-autocomplete(
  md-selected-item="board.id"
  md-selected-item-change="selectedItemChange(board.id)"
  md-search-text="searchText"
  md-items="board in boards | filter:searchText"
  md-item-text="board.name"
  md-min-length="0"
  placeholder="{{project.name}}"
  )
  md-item-template
    span(md-highlight-text="searchText" md-highlight-flags="g") {{board.name}}
  md-not-found No project matching {{searchText}} were found.
br
section(layout="row" layout-align="center")
  md-button.md-raised.md-primary(ng-click="save()" ng-disabled="saving") Save
