md-card(flex="100")
  md-card-title
    md-card-title-text(layout="row" layout-align="center").hide-for-print
      md-input-container
        label Company
        md-select(
          ng-model="project.settings.company"
          aria-label="company"
          ng-change="updateCompany(project.settings.company)"
        )
          md-option(
            ng-repeat="company in companies"
            ng-value="company.name"
          ) {{ company.name }}
          
  md-tabs(md-border-bottom md-autoselect md-dynamic-height md-stretch-tabs="always")
    md-tab(label='Satisfaction Survey')
      client-form(
        template="clientSurveyTemplate"
        sprint="currentSprint"
        project="project"
      )
    md-tab(label='Checklists')
      checklist(
        template="checklistsTemplate"
        sprint="currentSprint"
      )
