div.sprint-body(layout="row" layout-align="center end")
  md-card.layout-padding(flex="100")
    h2.md-title(layout-align="center end") {{ title }}
    div(layout="row")
      md-input-container(flex="20")
        label Sprint Number
        input(ng-model="editedSprint.number" ng-change="checkSprint('number')")
      md-input-container(flex="80")
        label Sprint Goal
        input(ng-model="editedSprint.goal")
    div(layout="row" layout-xs="column" layout-sm="column")
      md-input-container(flex="50" flex-xs="100" flex-sm="100")
        label Select "sprint" column
        md-select(ng-model="project.columnMapping.sprint")
          md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
      md-input-container(flex="50" flex-xs="100" flex-sm="100")
        label Select "blocked" column
        md-select(ng-model="project.columnMapping.blocked")
          md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
    div(layout="row" layout-xs="column" layout-sm="column")
      md-input-container(flex="50" flex-xs="100" flex-sm="100")
        label Select "doing" column
        md-select(ng-model="project.columnMapping.doing")
          md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
      md-input-container(flex="50" flex-xs="100" flex-sm="100")
        label Select "to validate" column
        md-select(ng-model="project.columnMapping.toValidate")
          md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
    md-input-container
      label Select the done column
      md-select(ng-model="editedSprint.doneColumn" ng-change="checkSprint('done')")
        md-option(ng-value="column.id" ng-repeat="column in boardColumns") {{ column.name }}
    div(flex)
      md-datepicker(ng-model="editedSprint.dates.start", md-placeholder="Start Date" ng-change="checkSprint('date')")
      md-datepicker(ng-model="editedSprint.dates.end", md-placeholder="End date" ng-change="checkSprint('date')")
    .man-days(
      ng-if="editedSprint.dates.days.length > 0"
    )
      resources-by-day(
        days="editedSprint.dates.days"
        matrix="editedSprint.resources.matrix"
        members="devTeam"
        on-update="checkSprint('resource')"
      )
      md-input-container
        label Total sprint points
        input(
          nss-round
          ng-model="editedSprint.resources.totalPoints"
          ng-change="checkSprint('total')"
        )
      md-input-container
        label Sprint speed
        input(
          nss-round
          ng-model="editedSprint.resources.speed"
          ng-change="checkSprint('speed')"
        )
    section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
      md-button.md-raised.md-primary(ng-disabled="!activable" ng-click="activate()") {{ saveLabel }}
