div.sprint-body(layout="row" layout-align="center end")
  md-card.layout-padding(flex="80")
    h2.md-title(layout-align="center end") {{ title }}
    div(layout="row")
      md-input-container(flex="20")
        label Sprint Number
        input(ng-model="sprint.number" ng-change="checkSprint('number')")
      md-input-container(flex="80")
        label Sprint Goal
        input(ng-model="sprint.goal")
    md-input-container
      label Select the done column
      md-select(ng-model="sprint.doneColumn" ng-change="checkSprint('done')")
        md-option(ng-value="column.id" ng-repeat="column in boardLists") {{ column.name }}
    md-input-container
      label Select the sprint column (if changing each sprint)
      md-select(ng-model="sprint.sprintColumn" ng-change="checkSprint('done')")
        md-option(ng-value="column.id" ng-repeat="column in boardLists") {{ column.name }}
    div(flex)
      md-datepicker(ng-model="sprint.dates.start", md-placeholder="Start Date" ng-change="checkSprint('date')")
      md-datepicker(ng-model="sprint.dates.end", md-placeholder="End date" ng-change="checkSprint('date')")
    .man-days(
      ng-if="sprint.dates.days.length > 0"
    ) 
      resources-by-day(
        days="sprint.dates.days"
        matrix="sprint.resources.matrix"
        members="devTeam"
        on-update="checkSprint('resource')"
      )
      md-input-container
        label Total sprint points
        input(
          nss-round
          ng-model="sprint.resources.totalPoints"
          ng-change="checkSprint('total')"
        )
      md-input-container
        label Sprint speed
        input(
          nss-round
          ng-model="sprint.resources.speed"
          ng-change="checkSprint('speed')"
        )
    section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
      md-button.md-raised.md-primary(ng-disabled="!activable" ng-click="activate()") {{ saveLabel }}
