div.md-padding(layout="row" flex="100" layout-sm="column")
  md-card(flex="50" flex-sm="100")
    md-card-content
      h2.md-title {todaysGoals}
      select-goals(goals="todaysGoals" project="project")
  md-card(flex="50" flex-sm="100")
    md-card-content
      h2.md-title {previousGoals}
      previous-goals(goals="previousGoals" sprint="sprint")
div(layout="row" flex="100" layout-sm="column")
  md-card.md-padding(flex="50" flex-sm="100")
    md-card-content
      h2.md-title {problems}
      md-input-container.md-block
        textarea(ng-model="problems" aria-label="problems")
  md-card(flex="50" flex-sm="100")
    md-card-content
      h2.md-title {intro}
      md-input-container.md-block
        textarea(ng-model="intro" aria-label="intro")
          
md-fab-speed-dial.md-scale.md-hover-full.board-call-to-actions(
  ng-cloak
  md-direction='up'
  md-open='menuIsOpen'
  ng-mouseenter='menuIsOpen=true'
  ng-mouseleave='menuIsOpen=false'
)
  md-fab-trigger
    md-button.md-fab.md-warn
      md-icon(md-svg-icon='menu')
  md-fab-actions
    md-button.md-fab.md-primary.md-hue-2.md-mini(ng-click="preview($event)")
      md-icon(md-svg-icon='eye')
      md-tooltip(md-direction='left') Preview
    md-button.md-fab.md-primary.md-hue-2.md-mini(ng-click='openDynamicFields($event)')
      md-icon(md-svg-icon='code-braces')
      md-tooltip(md-direction='left') Edit Template
    md-button.md-fab.md-primary.md-hue-2.md-mini(
      href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
      target="_blank"
      aria-label="Markdown Cheatsheet"
    )
      md-icon(md-svg-src='markdown' aria-label='markdown')
      md-tooltip(md-direction='left') Markdown Cheatsheet
