header
  md-toolbar
    .md-toolbar-tools
      md-button.md-icon-button(ng-click="toggleSidenav()" hide-gt-md)
        md-icon(md-svg-src="menu", aria-label="Open menu")
      h2
        span.clickable(ui-sref="tab.bdc") Scrumble
        span  / 
        span.clickable(ui-sref="tab.project") {{ project.name }}
      span(flex)
      a(href="https://theodo.github.io/splane" target="_blank" style="margin-right: 20px;")
        md-icon(md-svg-src='eye')
        span(style="font-size: 16px;")  Splane
        md-tooltip(md-direction="left") Link to Splane Visibility Board
      a(href="https://pbsolving.theo.do" target="_blank" style="margin-right: 20px;")
        md-icon(md-svg-src='pencil')
        span(style="font-size: 16px;")  Problem Solving
        md-tooltip(md-direction="left") Link to Problem Solving Spreadsheet
      a(href="https://theodo.github.io/ticket-dependency-graph" target="_blank" style="margin-right: 20px;")
        md-icon(md-svg-src='autorenew')
        span(style="font-size: 16px;")  Dependency Graph
        md-tooltip(md-direction="left") Link to Ticket Dependency Graph
      a(href="https://theodo.github.io/planning-bdc" target="_blank" style="margin-right: 20px;")
        md-icon(md-svg-src='clock')
        span(style="font-size: 16px;")  BDC Planning
        md-tooltip(md-direction="left") Link to BDC Planning
      #changelog
        md-icon(md-svg-src='bell')
      profil-info
div(flex layout="row")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(
    layout='column'
    md-component-id='left'
    md-is-locked-open="$mdMedia('gt-md')"
  )
    md-list
      div(ng-repeat="section in menu")
        md-subheader {{ section.title }}
        md-list-item.md-clickable(
          ng-repeat='item in section.items'
          ng-click="goTo(item)"
          md-ink-ripple
        )
          md-item-content( layout='row' layout-align='start center')
            .inset
              md-icon(md-svg-icon='{{item.icon}}' ng-class='item.classes')
            .inset
              | {{item.title}}
        md-divider
  main.md-padding(layout="row" flex)
    .container(ui-view)
feedback
