md-data-table-toolbar
  button.md-icon-button.md-button.md-default-theme(
    ng-click='delete($event)' ng-show='selected.length'
  )
    md-icon(md-svg-icon='delete')
md-table-container
  table(md-table md-row-select ng-model="selected")
    thead(md-head)
      tr(md-row)
        th(md-column) &nbsp;
        th(md-column) &nbsp;
        th(
          layout-align="center center"
          ng-repeat="(j, member) in members"
        )
          trello-avatar(
            member="member"
          )
    tbody(md-body)
      tr(md-row md-select="day" md-select-id="{{day.date}}" ng-repeat="day in days")
        td(md-cell) {{ day.date | date : 'EEEE, MMMM d' }}
        td(md-cell)
          md-input-container
            label Hours
            input(
              nss-round
              ng-model="day.timebox"
              ng-change="onUpdate()"
            )
        td.cell-align(md-cell ng-repeat="member in members")
          md-slider.md-primary(
            min="0"
            max="1"
            step="0.1"
            ng-model="matrix[$parent.$index][$index]"
            ng-change="onUpdate()"
          )
