.toto
  .resources-by-day(
    layout="row"
  )
  md-data-table-toolbar
    button.md-icon-button.md-button.md-default-theme(
      ng-click='delete($event)' ng-show='selected.length'
    )
      md-icon(md-svg-icon='delete')
  md-data-table-container
    table(md-data-table md-row-select="selected")
      thead
        tr
          td &nbsp;
          td(
            layout-align="center center"
            ng-repeat="(j, member) in members"
          )
            trello-avatar(
              member="member"
            )
      tbody
        tr(ng-repeat="day in days")
          td {{ day.date | date : 'longDate' }}
          td(ng-repeat="member in members")
            md-button.md-primary.row(
              ng-click="resourceClick($parent.$index,$index)"
            ) {{ matrix[$parent.$parent.$index][$index] }}
