md-card
  h2.md-title(layout-align="center end") PROBLEM TRACKING
  md-subheader(style="color: red; text-align: center;") This is an experimental feature. You should continue using your resolution problem sheet on your board
  
  div(layout="row" layout-sm="column" layout-align="space-around" ng-if="loading")
    md-progress-circular(md-mode="indeterminate")
      
  div.md-padding(ng-if="problems.length === 0" layout="column" layout-align="center")
    p.description Here is the place to track the problems of your project.
    section(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
      md-button(ng-click="addProblem($event)") Create the first problem

  md-list
    div(ng-repeat-start="problem in problems")
      md-list-item.md-3-line.md-long-text
        .md-list-item-text
          h3 {{ problem.description }}
            span(ng-if="problem.link")  (
              a(href="{{ problem.link }}" target="_blank" ) link
              | )
          h4 {{ problem.happenedDate | date : 'longDate' }}
          p
            strong Cause Hypothesis:
            |  {{ problem.causeHypothesis }}
          p
            strong Action:
            |  {{ problem.action }}
          md-icon.md-secondary(
            md-svg-icon="pencil-box"
            ng-click="editProblem(problem, $event)"
            aria-label="Edit"
          )
          md-icon.md-secondary.md-accent(
            md-svg-icon="delete"
            ng-click="deleteProblem(problem, $event)"
            aria-label="Delete"
          )
    md-divider(ng-repeat-end ng-if="!$last")
      
  md-button.md-fab.md-accent.board-call-to-actions(ng-click="addProblem($event)")
    md-icon(md-svg-icon='plus') Add
    md-tooltip(md-direction='left') Add a problem
