md-content
  div(layout="row")
    div.md-padding(flex)
      h2.md-title Trello Mapping
        md-button.md-raised.md-primary(ng-click="save()") Save
      select-board(
        boards="boards"
        board-id="settings.boardId"
      )
      
      select-columns(
        ng-if="settings.boardId"
        board-columns="boardColumns"
        column-ids="settings.columnIds"
      )
    div.md-padding(flex)
      h2.md-title Resources
        md-button.md-raised.md-primary(ng-click="save()") Save
      resources-widget(
        ng-if="settings.boardId"
        board-members="boardMembers"
        team="settings.team"
        dates="settings.dates"
        resources="settings.resources"
      )
